/* _content/RecipeBox/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-tfc53pmeq4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-tfc53pmeq4] {
  color: #000000;
}

.btn-primary[b-tfc53pmeq4] {
  color: #e90000;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-tfc53pmeq4], .nav-pills .show > .nav-link[b-tfc53pmeq4] {
  color: #e80000;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-tfc53pmeq4] {
  border-top: 1px solid #ff0000;
}
.border-bottom[b-tfc53pmeq4] {
  border-bottom: 1px solid #ff0000;
}

.box-shadow[b-tfc53pmeq4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-tfc53pmeq4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-tfc53pmeq4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

#header[b-tfc53pmeq4] {
  background-color: black;
  color: rgb(254, 145, 2);
}

#login[b-tfc53pmeq4] {
  font-size: 20pt;
  margin-right: 200px;
}
